---
title: Beats Audio Soundblockers Test Report
date: 2024-09-09T14:00:10.925Z
updated: 2024-09-10T14:00:10.925Z
categories:
  - BestProducts
description: This Article Describes Beats Audio Soundblockers Test Report
excerpt: This Article Describes Beats Audio Soundblockers Test Report
thumbnail: https://www.lifewire.com/thmb/4u0mWvhjfIKhmelhb5reXf4e_FI=/400x300/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/_hero_SQ_EarDial-5-41638efdbc844775bbe5fc478565243c.JPG
---

## Whisker Wonders: Games Galore

4.7

<!-- affiliate ads begin -->
<span id="1495277">
					<video width="1536" height="864" style="cursor:pointer"
           poster="//a.impactradius-go.com/display-clicktoplayimage/1495277.png"
           onclick="if(!this.playClicked){this.play();this.setAttribute('controls',true);this.playClicked=true;}">
	   <source src="//a.impactradius-go.com/display-ad/17189-1495277">
	   <img src="//a.impactradius-go.com/display-clicktoplayimage/1495277.png" style="border: none; height: 100%; width: 100%; object-fit: contain">
	</video>
	<div style="width:960px;text-align:center"><a href="javascript:window.open(decodeURIComponent('https%3A%2F%2Ffunwhole.sjv.io%2Fc%2F5597632%2F1495277%2F17189'), '_blank');void(0);">Click here</a></div>
</span>
<img height="0" width="0" src="https://imp.pxf.io/i/5597632/1495277/17189" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## PetCube Play 2

![Petcube Play 2](https://www.lifewire.com/thmb/fi4QKVoNpmF0orWr6-09-W2GJQY=/1000x1000/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/PetCube_PetCameras_Play2_HeroSquare-1fac0e7ac5604adbbc5e1443c8904884.jpg)

<!-- affiliate ads begin -->
<a href="https://ephamedtechinc.pxf.io/c/5597632/2137212/26400" target="_top" id="2137212">
  <img src="//a.impactradius-go.com/display-ad/26400-2137212" border="0" alt="https://techidaily.com" width="728" height="90"/>
</a>
<img height="0" width="0" src="https://ephamedtechinc.pxf.io/i/5597632/2137212/26400" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
 Lifewire / Sandra Safford

 What We Like

* Alexa-enabled
* Records in 1080p
* Optional subscription for more video storage
* Great audio quality
* Laser toy for cats

 What We Don't Like

* Laser may not work in very bright rooms

 The Petcube Play 2 has everything a cat owner could ask for; from a laser to encourage your cat to exercise while you’re away, to two-way audio to check in on pet sitters, 1080p recording quality, and automatic night vision for when it gets dark.

[View On Amazon $80](https://www.amazon.com/dp/B07R3G87RG?tag=lifewire-onsite-prod-20&ascsubtag=4799304%7Cn4fb6acc7130e4f4da457cbd852f855df06%7CB07R3G87RG)

4.7

## PetCube Play 2

![Petcube Play 2](https://www.lifewire.com/thmb/Ih0OyKYEFJOY46U7eBWO2udCMIc=/450x450/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/PetCube_PetCameras_Play2_HeroSquare-1fac0e7ac5604adbbc5e1443c8904884.jpg)

 Lifewire / Sandra Safford

[View On Amazon $80](https://www.amazon.com/dp/B07R3G87RG?tag=lifewire-onsite-prod-20&ascsubtag=4799304%7Cn4fb6acc7130e4f4da457cbd852f855df06%7CB07R3G87RG)

 in this article

 Expand

* [Design](https://martinic.evyy.net/m5azrm)
* [Setup Process](https://homestyler.sjv.io/y209g3)
* [Video Quality](https://jalbum-affiliate-program.sjv.io/mmjynq)
* [Performance](https://unicoeye.pxf.io/3enoev)
* [App Support](https://jalbum-affiliate-program.sjv.io/mmjynq)
* [Price](https://exvist.pxf.io/dkpnky)
* [Competition](https://cowinaudio.pxf.io/pyx40e)
* [Final Verdict](https://bluettide.pxf.io/ekmjb2)
* [Specs](https://turtlebeacheu.sjv.io/1r0r59)

 _We purchased the Petcube Play 2 so our expert reviewer could thoroughly test and assess it. Keep reading for our full product review._

 Making the most of time away from our pets is a big concern for pet owners. Even leaving for work has its own requirements, such as checking for food, water, and your pet's well-being. The Play 2 is made for those pet owners who just can't look away for a whole day. Improved field of view and newly added Alexa functionality make an amazing quality pet camera even better.

<!-- affiliate ads begin -->
<a href="https://review-au.sjv.io/c/5597632/2098701/14409" target="_top" id="2098701">
  <img src="//a.impactradius-go.com/display-ad/14409-2098701" border="0" alt="https://techidaily.com" width="120" height="90"/>
</a>
<img height="0" width="0" src="https://review-au.sjv.io/i/5597632/2098701/14409" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## **Design: Tiny device blends in anywhere**

 The Play 2 has a subtle design that blends in with other home electronics. The reflective black plastic on the front face hides fingerprints fairly well, but the matte black plastic on the top is easily smudged. Unless someone got close enough to read the word “Petcube,” they would never know that this little camera marks you as pet-obsessed. The wide field of view and small size of the Play 2 means it can fit just about anywhere without being intrusive.

 Lifewire / Sandra Stafford

## **Setup Process: App-guided setup takes minutes**

 The Petcube Play 2 is so easy to set up it doesn’t even include a manual. The Petcube app prompts you through creating an account and profiles for your pets, which can include their names, pictures, and birth dates if you know them. The app guides you through the process of pairing the Play 2 to your phone and connecting it to[Wi-Fi](https://www.lifewire.com/what-is-wi-fi-2377430) . The laser requires no setup, but it can be recalibrated if necessary. Mine worked just fine with the default calibration.

 Lifewire / Sandra Stafford

<!-- affiliate ads begin -->
<a href="https://aligracehair.sjv.io/c/5597632/2135399/19272" target="_top" id="2135399">
  <img src="//a.impactradius-go.com/display-ad/19272-2135399" border="0" alt="https://techidaily.com" width="300" height="90"/>
</a>
<img height="0" width="0" src="https://aligracehair.sjv.io/i/5597632/2135399/19272" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## **Video Quality: Beautifully clear picture quality**

 I tested the Play 2 in my house lit by the unrelenting Texas sun. The Petcube Play 2, like its predecessor, records in[1080p](https://www.lifewire.com/what-the-term-1080p-means-1846837) . In daylight, the picture quality is so good that I can make out every whisker on my cat’s face. It’s a bit grainy at times, but there isn’t a pet cam on the market that performs better. Even the wealthiest pet owners aren’t going to pay for a cam that records in 4K. Pets don’t do much at night, but with the laser, I was able to entice my pets to cooperate for testing the automatic night vision. The recording quality at night is still very good, but grainier than during the day.

 In daylight, the picture quality is so good that I can make out every whisker on my cat’s face.

## **Performance: Excellent performance in every area**

 Ultimately, no one is picking a pet cam for the video quality alone. Cute videos are nice, but without something to encourage them, you’re not likely to find your pets doing anything more interesting than sleeping or barking at neighbors.

 Petcube's Play 2 has an interactive laser for just this purpose. When I tested this, I was lucky to find my cat already sleeping on the couch. I made a bit of noise to catch her attention, then activated the laser. The laser tracks across the floor in a jumpy line, not a smooth transition, but that didn’t seem to bother her at all. The Petcube Play 2 can automatically start the laser to play with your pets so they’re entertained while you’re away. Trying various locations in my house, the only problem I ever had with the laser was when I tested it near a very large window. The Class 2 laser isn’t as strong as a handheld laser pointer, so it can’t compete with bright daylight. This is an important safety consideration to keep the laser from potentially injuring your eyes or your pet’s eyes when being used automatically. As long as the laser was shining into an area around 5 feet away from a window, my pets were able to see it with no trouble.

 The Petcube Play 2 can automatically start the laser to play with your pets so they’re entertained while you’re away.

 The Play 2 added Alexa compatibility to its list of features, making this the first Alexa device I ever had. I immediately started trying to figure out how to use Alexa specifically for pets, and at last, I found it. I told Alexa to read an audiobook while I shut myself in the spare room to get some work done. Typically my dog, an overprotective German Shepherd, spends half the day barking at every car door shutting, neighbor dog, and stranger as they walk past the house.

 Lifewire / Sandra Stafford

 With the[white noise](https://www.lifewire.com/best-white-noise-apps-4582064) of an[audiobook](https://www.lifewire.com/what-are-audiobooks-2438535) , all those unexpected sounds bothered him less and he napped peacefully for hours. While the audio quality was a little tinny when I used two-way audio to talk to my pets, that was an issue of latency. Music was beautifully clear on the Play 2\. It’s definitely good enough to remain the sole Alexa device in my house, and the Petcube skill on the[Alexa](https://www.lifewire.com/alexa-skills-4126799) app gives you access to new commands like “play with my pet” that will make using the Play 2 even more convenient.

 Rather than relying on the chance that your pet will be in the same room as the device, the Play 2 chimes when you look in on your pets with the app. If that’s not enough to get their attention, the two-way audio should be. Whether or not they recognized my voice, both animals were curious enough to come check out the Play 2 when I called them. After a few play sessions, my pets came to the device every time it chimed.

 Lifewire / Sandra Stafford

## **App Support: Subscribers get some nice perks**

 When purchasing a fairly expensive pet cam, no one wants to feel like they were forced to pay an additional monthly cost. Petcube offers subscribers a lot of extras to make the cost worth it. Subscriptions start at $3.99/month and have bonuses like notifications, video history, clips that save automatically, and video downloads. At the $8.25/month level, the subscription covers an unlimited number of cameras and extends the warranty on each device to two years. Various services like pet DNA kits, Wag! and the Ollie box offers discounts to subscribers as well. Giving free users the basic functions of their pet cam but reserving so many extras for subscribers is a great way of balancing the needs of both.

 Subscriptions start at $3.99/month and have bonuses like notifications, video history, clips that save automatically, and video downloads.

<!-- affiliate ads begin -->
<span id="1702748">
					<video width="192" height="320" style="cursor:pointer"
           poster="//a.impactradius-go.com/display-clicktoplayimage/1702748.png"
           onclick="if(!this.playClicked){this.play();this.setAttribute('controls',true);this.playClicked=true;}">
	   <source src="//a.impactradius-go.com/display-ad/18544-1702748">
	   <img src="//a.impactradius-go.com/display-clicktoplayimage/1702748.png" style="border: none; height: 100%; width: 100%; object-fit: contain">
	</video>
	<div style="width:120px;text-align:center"><a href="javascript:window.open(decodeURIComponent('https%3A%2F%2Ftwopages.pxf.io%2Fc%2F5597632%2F1702748%2F18544'), '_blank');void(0);">Click here</a></div>
</span>
<img height="0" width="0" src="https://imp.pxf.io/i/5597632/1702748/18544" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## **Price: A splurge you won’t regret**

 Any way I look at it, the Petcube Play 2 is a serious splurge. There are more expensive pet cams on the market, but not many. If you just want a camera to be able to look in on your pets and ensure that no one has broken in, a security cameracan do that for much less money. You could add an automatic laser toy and still not come close to spending $200\. Pricey or not, the Play 2 is good enough to justify the price if you feel like getting a gift for your pet and for yourself.

 Pricey or not, the Play 2 is good enough to justify the price if you feel like getting a gift for your pet and for yourself.

## **Petcube Play 2 vs. Pawbo Life Wi-Fi Camera**

 The Petcube Play 2 has a lot to offer, but there is an alternative that can save a lot of money. At around[$150 on Amazon,](https://www.amazon.com/dp/B06XPSGS4W/?tag=lifewire-onsite-prod-20&ascsubtag=4799304%7Cn4fb6acc7130e4f4da457cbd852f855df06%7C) the[Pawbo Life Wi-Fi Camera](https://www.lifewire.com/pawbo-life-pet-camera-review-4692446) has the best features for pets, such as a treat dispenser and the laser that cats love. Quality had to be cut somewhere to keep this option affordable, so clips are recorded in 720p and there is no night vision at all. Pets don’t care either way about picture quality, so the Pawbo is a good choice if you just want to give them some treats and playtime while you’re at work during the day. Pay a little more for the Petcube Play 2 if you want to share the clips or need night vision.

 Final Verdict

**A great combination of features and price.**

 The Petcube Play 2 is at the sweet spot of features and price. The crisp, clear recording quality will allow you to enjoy your pet’s playtime even if you can’t always be there with them.

<!-- affiliate ads begin -->
<a href="https://unicoeye.pxf.io/c/5597632/2134491/18498" target="_top" id="2134491">
  <img src="//a.impactradius-go.com/display-ad/18498-2134491" border="0" alt="https://techidaily.com" width="728" height="90"/>
</a>
<img height="0" width="0" src="https://unicoeye.pxf.io/i/5597632/2134491/18498" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->
## Specs

* Product Name  Play 2
* Product Brand  PetCube
* Price  $199.99
* Weight  1 lbs.
* Product Dimensions  3.6 x 3.2 x 3.6 in.
* Warranty  1 year
* Compatibility  Alexa
* Camera  1080p, 4x digital zoom, automatic night vision
* Recording Quality  1080p
* Connectivity options  Wi-Fi (2.4 GHz and 5GHz)

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>



<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://fox-friendly.techidaily.com/updated-enhance-conversations-with-custom-whatsapp-ringtones-for-2024/"><u>[Updated] Enhance Conversations with Custom WhatsApp Ringtones for 2024</u></a></li>
<li><a href="https://instagram-clips.techidaily.com/updated-top-7-instagram-money-sources-a-comprehensive-guide/"><u>[Updated] Top 7 Instagram Money Sources - A Comprehensive Guide</u></a></li>
<li><a href="https://printer-issues.techidaily.com/accelerate-queued-print-processes/"><u>Accelerate Queued Print Processes</u></a></li>
<li><a href="https://buynow-info.techidaily.com/can-the-samsung-cf591-deliver-an-exceptional-gaming-experience-an-experts-insight/"><u>Can the Samsung CF591 Deliver an Exceptional Gaming Experience? An Expert's Insight</u></a></li>
<li><a href="https://buynow-info.techidaily.com/comprehensive-evaluation-enhancing-comfort-and-convenience-the-oculus-quest-aturbish-strap-extra-battery-and-reliable-case/"><u>Comprehensive Evaluation: Enhancing Comfort and Convenience - The Oculus Quest Aturbish Strap, Extra Battery, and Reliable Case</u></a></li>
<li><a href="https://buynow-info.techidaily.com/comprehensive-nintendo-switch-lite-assessment-portable-gaming-at-an-affordable-price/"><u>Comprehensive Nintendo Switch Lite Assessment: Portable Gaming at an Affordable Price</u></a></li>
<li><a href="https://buynow-info.techidaily.com/cutting-edge-television-showcase-intense-evaluation-of-the-ultra-hd-sony-smart-led-xbr49x900f/"><u>Cutting Edge Television Showcase: Intense Evaluation of the Ultra HD Sony Smart LED - XBR49X900F</u></a></li>
<li><a href="https://buynow-info.techidaily.com/discover-everything-about-apples-m4-chip-release-timeline-and-hardware-specs-unveiled/"><u>Discover Everything About Apple's M4 Chip: Release Timeline and Hardware Specs Unveiled</u></a></li>
<li><a href="https://buynow-info.techidaily.com/expert-evaluation-of-the-nintendo-switch-unrivaled-mastery-in-handheld-gaming/"><u>Expert Evaluation of the Nintendo Switch: Unrivaled Mastery in Handheld Gaming</u></a></li>
<li><a href="https://buynow-info.techidaily.com/expert-review-enhancing-your-network-with-the-netgear-ex3700-wifi-range-extender-ac750/"><u>Expert Review: Enhancing Your Network with the Netgear Ex3700 WiFi Range Extender (AC750)</u></a></li>
<li><a href="https://buynow-info.techidaily.com/experts-rate-the-budget-king-of-indoor-amplified-hd-tv-antennas-for-your-home/"><u>Experts Rate: The Budget King of Indoor Amplified HD TV Antennas for Your Home</u></a></li>
<li><a href="https://buynow-info.techidaily.com/explore-the-power-of-photos-with-canon-sx530-review/"><u>Explore the Power of Photos with Canon SX530 Review</u></a></li>
<li><a href="https://article-posts.techidaily.com/from-screenshot-to-ringtone-your-guide-to-tiktok-song-selection-for-2024/"><u>From Screenshot to Ringtone  Your Guide to TikTok Song Selection for 2024</u></a></li>
<li><a href="https://mondly-stories.techidaily.com/honterus-the-heartbeat-of-motivation/"><u>Honterus: The Heartbeat of Motivation</u></a></li>
<li><a href="https://pokemon-go-android.techidaily.com/how-can-i-catch-the-regional-pokemon-without-traveling-on-honor-v-purse-drfone-by-drfone-virtual-android/"><u>How Can I Catch the Regional Pokémon without Traveling On Honor V Purse | Dr.fone</u></a></li>
<li><a href="https://fox-cloud.techidaily.com/in-2024-avoid-complexity-easy-video-edits-on-windows-10-for-everyone/"><u>In 2024, Avoid Complexity  Easy Video Edits on Windows 10 for Everyone</u></a></li>
<li><a href="https://youtube-blog.techidaily.com/24-the-pathway-to-profitability-navigating-youtube-adsense/"><u>In 2024, The Pathway to Profitability  Navigating YouTube AdSense</u></a></li>
<li><a href="https://youtube-stream.techidaily.com/in-2024-the-top-techniques-for-turning-yt-order-upside-down/"><u>In 2024, The Top Techniques for Turning YT Order Upside-Down</u></a></li>
<li><a href="https://youtube-docs.techidaily.com/24-yielding-income-a-streamers-guide-to-earning/"><u>In 2024, Yielding Income  A Streamer's Guide to Earning</u></a></li>
<li><a href="https://buynow-info.techidaily.com/innovative-advertising-solutions-for-content-creators-with-buyselladscom/"><u>Innovative Advertising Solutions for Content Creators with buySellAds.com</u></a></li>
<li><a href="https://buynow-info.techidaily.com/is-the-iphone-12-pro-max-worth-it-exploring-the-power-of-going-big/"><u>Is the iPhone 12 Pro Max Worth It? Exploring the Power of Going Big</u></a></li>
<li><a href="https://buynow-info.techidaily.com/michael-kors-gen-5e-mkgo-analysis-blending-elegance-with-innovative-design/"><u>Michael Kors Gen 5E MKGO Analysis: Blending Elegance with Innovative Design</u></a></li>
<li><a href="https://buynow-info.techidaily.com/omnicharge-omni-20-user-manual-unlock-the-potential-of-universal-wireless-charging-in-a-compact-package/"><u>Omnicharge Omni 20 User Manual: Unlock the Potential of Universal, Wireless Charging in a Compact Package</u></a></li>
<li><a href="https://buynow-info.techidaily.com/spk10-037-lights-up-scenes-with-brightness-and-adaptability/"><u>SPK10-037 Lights Up Scenes with Brightness & Adaptability</u></a></li>
<li><a href="https://buynow-info.techidaily.com/taking-the-apple-watch-series-4-for-a-spin-a-leap-forward-in-wearable-technology-excellence/"><u>Taking the Apple Watch Series 4 for a Spin: A Leap Forward in Wearable Technology Excellence</u></a></li>
<li><a href="https://buynow-info.techidaily.com/the-ultimate-guide-to-mastering-the-dji-air-2s-mavic-drone-top-reviews/"><u>The Ultimate Guide to Mastering the DJI Air 2S Mavic Drone – Top Reviews</u></a></li>
<li><a href="https://buynow-info.techidaily.com/the-ultimate-portable-pc-playground-the-steam-deck/"><u>The Ultimate Portable PC Playground - The Steam Deck</u></a></li>
<li><a href="https://buynow-info.techidaily.com/top-iphones-for-gamers-choosing-the-ideal-device/"><u>Top iPhones for Gamers: Choosing the Ideal Device</u></a></li>
<li><a href="https://buynow-info.techidaily.com/unboxing-the-amazon-luna-a-review-of-its-streamlined-gameplay-quality/"><u>Unboxing the Amazon Luna: A Review of Its Streamlined Gameplay Quality</u></a></li>
<li><a href="https://buynow-info.techidaily.com/unleash-next-level-gaming-with-the-hp-omen-obelisk-value-and-performance-in-one-package/"><u>Unleash Next-Level Gaming with the HP OMEN Obelisk: Value & Performance in One Package</u></a></li>
<li><a href="https://app-tips.techidaily.com/unveiling-chatsonic-the-ultimate-review-for-insights-into-an-intelligent-artificial-conversational-agent/"><u>Unveiling Chatsonic: The Ultimate Review for Insights Into an Intelligent Artificial Conversational Agent</u></a></li>
<li><a href="https://buynow-info.techidaily.com/unveiling-the-latest-in-security-tech-the-ring-doorbell-proplus-evaluation/"><u>Unveiling the Latest in Security Tech: The Ring Doorbell Pro+ Evaluation</u></a></li>
<li><a href="https://buynow-info.techidaily.com/unveiling-vyncs-link-insight-software-effective-tracking-amidst-perplexing-plan-schemes/"><u>Unveiling Vyncs' Link Insight Software: Effective Tracking Amidst Perplexing Plan Schemes</u></a></li>
</ul></div>
